BasedOnStyle: LLVM

IndentWidth: 2
TabWidth: 2
UseTab: Never

ColumnLimit: 100

PointerAlignment: Left
DerivePointerAlignment: false

BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

SpaceBeforeParens: ControlStatements
SpacesInParentheses: false

SortIncludes: true
IncludeBlocks: Regroup

AlignAfterOpenBracket: Align
AlignOperands: true
AlignTrailingComments: true
